
{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #DFD6A7;
}


body .conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 60px;
}

/* --- BOTTONE PRODOTTI --- */
body .conteiner a {
    text-decoration: none;
    margin: 40px 0;
    border: none; /
    display: inline-block;
}

body .conteiner h1 {
    font-family: 'Lobster', cursive;
    background-color: #F7CE5B; /* Mustard */
    color: #1F1300; /* Coffee Bean */
    padding: 15px 45px;
    border-radius: 15px;
    border: 4px solid #AF9B46;
    box-shadow: 0 6px 0 #AF9B46;
    margin: 0;
    text-align: center;
}

/* --- SLIDESHOW --- */
body .slideshow {
    width: 90%;
    max-width: 1000px;
    height: 500px;
    position: relative;
    margin-bottom: 50px;
    overflow: hidden;
    border-radius: 25px;
    border: 8px solid #F7CE5B;
    background-color: #ffffff;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

body .slide {
    width: 100%;
    height: 100%;
}

body .slideshow img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

body .titolo {
    background-color: #AF9B46;
    width: 80%;
    max-width: 800px;
    border-radius: 20px 20px 0 0;
    border: 4px solid #AF9B46;
    text-align: center;
}

body .titolo h2 {
    color: #ffffff;
    font-family: 'Lobster', cursive;
    margin: 0;
    padding: 15px;
    font-size: 2rem;
}

body .testo {
    background-color: #F7B05B;
    width: 80%;
    max-width: 800px;
    padding: 30px;
    border-radius: 0 0 20px 20px;
    border: 4px solid #AF9B46;
    border-top: none;
    text-align: center;
}

body .testo p {
    margin: 0;
    line-height: 1.8;
    color: #1F1300;
    font-size: 1.1rem;
    font-weight: 500;
}


body .left, body .right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    background: rgba(31, 19, 0, 0.6);
    color: #ffffff;
    padding: 15px;
    z-index: 10;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

body .left { left: 20px; }
body .right { right: 20px; }

/* --- RESPONSIVE 768px --- */
@media screen and (max-width: 768px) {
    body .slideshow {
        height: 300px;
        width: 95%;
        border-width: 5px;
    }

    body .conteiner h1 {
        font-size: 1.8rem;
        padding: 10px 25px;
    }

    body .titolo, body .testo {
        width: 95%;
    }

    body .testo p {
        font-size: 1rem;
        padding: 5px;
    }
}